/* Estilos Personalizados */

body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5em;
    color: #008080; /* tom de verde */
}

.card-header {
    background-color: #008080; /* tom de verde */
    color: white;
}

.btn-primary {
    background-color: #008080; /* tom de verde */
    border-color: #008080; /* tom de verde */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #008000; /* tom de verde mais escuro */
    border-color: #008000; /* tom de verde mais escuro */
}

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
}
