.container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  h1 {
    font-weight: bold;
    margin-bottom: 1rem;
    opacity: 0; /* Initial state for fade-in */
    animation: fadeIn 1s ease-in forwards; /* Animates opacity when element appears */
  }
  
  form {
    margin-top: 2rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 1rem;
    transition: border-color 0.3s ease; /* Transition for border color change on focus */
  }
  
  textarea:focus {
    border-color: #008080; /* verde */
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #008080; /* verde */
    border-radius: 5px;
    color: #fff;
    background-color: #008080; /* verde */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition for background color and color change on hover */
  }
  
  button:hover {
    background-color: #006060; /* verde escuro */
    color: #f0f0f0; /* branco */
  }
  
  .error {
    color: #ff0000; /* vermelho */
    margin-top: 1rem;
  }
  
  /* Animation Keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  