:root {
    --main-color: #008080;
    --dark-color: #008000;
    --light-color: #f0f0f0;
    --transition-speed: 0.3s;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .banner {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    opacity: 0; /* Start with elements hidden */
    animation: fadeInUp 1s 0.5s ease forwards; /* 0.5s delay makes it sequential */
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .btn-start {
    background-color: var(--dark-color);
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: transform var(--transition-speed); /* Transition for hover effect */
  }
  
  .btn-start:hover {
    transform: translateY(-3px); /* Move slightly up on hover */
  }
  
  .btn-start:focus {
    outline: 2px solid var(--main-color);
    background-color: var(--main-color);
  }
  
  .features {
    margin: 2rem 0;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s 1s ease forwards; /* Appears after banner animations */
  }
  
  .features h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
  }
  
  .features li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
  }
  
  .features li i {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
  }
  
  :root {
    --main-color: #006400; /* verde escuro */
    --light-color: #90ee90; /* verde claro */
  }
  
  .testimonials {
    margin: 2rem 0;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s 1s ease forwards; /* Appears after features animations */
  }
  
  .testimonials h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .testimonials p {
    font-size: 1.2rem;
    color: var(--main-color);
  }
  
  .testimonials .testimonial {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .testimonials .testimonial i {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
  }  
  
  /* Animation Keyframes */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
  }
  
  @keyframes fadeIn { /* Simple opacity fade-in */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  